@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: 'HandWritten';
    src: url(/assets/font.otf) format("opentype");
    font-display: swap;
}

.fontHandWritten {
    font-family: HandWritten, serif;
    color: #FFFFFF;
}

.fontUbuntu {
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

.fontRoboto {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}


a {
    color: white;
}

.bottomPadding {
    padding-bottom: 2em;
}

.center {
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerBottom {
    position: fixed; /* or absolute */
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.topLeft {
    position: fixed; /* or absolute */
    left: 0%;
    top: 0%;
    transform: translate(0%, -50%);
}

.bottomLeft {
    position: fixed; /* or absolute */
    left: 0%;
    top: 96%;
    transform: translate(0%, -50%);
}

.topRight {
    position: fixed; /* or absolute */
    top: 0%;
    left: 100%;
    /* bring your own prefixes */
    transform: translate(-100%, -50%);
}

.bottomRight {
    position: fixed; /* or absolute */
    top: 96%;
    left: 100%;
    /* bring your own prefixes */
    transform: translate(-100%, -50%);
}

body {
    background-image: url("/assets/background.webp");
    width: 160px;
    height: 180px;
    background-color: #000000;
}

.zeromd {
    color: #FFFFFF;
}
